body {
  background: #eee;
  background-image: url(http://content.asos-media.com/-/media/homepages/unisex/generic-hp/aug-2017/asos-generic-hp-desktop-01-new.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
}

.logo {
  display: block;
  margin: 20px;
}

.form {
  text-align: left;
  background: white;
  width: 400px;
  margin: auto;
  padding: 10px;
}

.social {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.facebook, .google, .twitter{
  width: 32%;
  border: none;
  color: white;
  padding: 8px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  text-transform: uppercase;
  font-family: "futura-pt-n7","futura-pt",Tahoma,Geneva,Verdana,Arial,sans-serif;
  letter-spacing: 2px;
  margin-bottom: 15px;
}

.facebook {
    background-color: #3B5998;
}
.google {
    background-color: #dd4b39;
}
.twitter {
    background-color: #00aced;
}

.form div {
  padding: 13px;
}

h1, h2, h3{
  font-family: "futura-pt-n7","futura-pt",Tahoma,Geneva,Verdana,Arial,sans-serif;
  color: gray;
  font-weight: bold;
}

h1 {
  font-size: 20px;
  text-align: center;
  color: #2d2d2d;
}

label {
  font-family: "futura-pt-n7","futura-pt",Tahoma,Geneva,Verdana,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 2px;
  color: gray;
  font-weight: bold;
}

.info {
    font-size: 12px;
    letter-spacing: 1px;
    margin: 0;
    color: gray;
    font-weight: normal;
    display: inline;
    font-family: "futura-pt-n7","futura-pt",Tahoma,Geneva,Verdana,Arial,sans-serif;

}

hr {
  width: 90%;
}

.letter {
  font-family: "futura-pt-n7","futura-pt",Tahoma,Geneva,Verdana,Arial,sans-serif;
  font-size: 12px;
  color: #2d2d2d;
  letter-spacing: 1px;
  display: inline;
  font-weight: normal;
}

input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type=number] {
  height: 44px;
  width: 15%;
  height:
  margin: 8px 0;
  box-sizing: border-box;
}

input[type=month] {
  width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=checkbox] {
}

input[type=radio] {
}

input:valid {
  background-color: white;
}

input:focus {
  border-color: #4286f4;
  border-style: solid;
  outline-style: none;
}
input:required:invalid:not(:focus):not(:placeholder-shown){
  border-color: red;
  border-style: solid;
}

.join {
  background-color: #2d2d2d;
  width: 100%;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

a {
  color: #2d2d2d;
}
